/* Container */

.container {
    font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode;
    width: 100%;
    /*border: solid black;*/
}

/* Navigation bar */

h1 {
    padding-left: 5%;
    font-size: 60px;
    font-weight: 600;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

h2 {
    padding-left: 5%;
    font: size 40px;
    font-family: Brush Script MT;
    color: #CCC;
}

.header {
    background-image: url(../img/banner.jpg);
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-custom {
    background-color: black;
}

/* Content */

.legend {
    text-align: center;
    font-size: smaller;
    font-weight: bolder;
    font-style: italic;
    color: grey;
}